.cardSection {
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  /* box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.4); */
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cardImage{
  flex: 2;
  /* box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.4); */
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  /* overflow: hidden; */
}
.cardContent{
  flex: 10;
}
.cardContent h2{
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  color: #512c1a;
}
.cardContent h3{
  font-size: 22px;
  font-weight: bold;
  color: #512c1a;
}
.subContentWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.selected {
  background-color: rgba(220, 235, 255, 0.7);
}

.deselected {
  background-color: white;
}
.productDetails{
  padding: 0px 20px 0px 0px;
  border-right: 2px solid #512c1a;
}

/* h2{
  margin-bottom: 5px;
}
h3{
  margin: 5px 0px 0px 0px;
} */
ul{
  padding-left: 20px !important;
}
li{
  color: #512c1a;
}
li::marker{
  color: #f18500;
}
.overlay {
  padding: 0px 0px 0px 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
